* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: antiquewhite;
}

.regresar {
  padding: 1rem 0 1rem 3rem;
  width: 3rem;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-texto {
  padding: 4rem;
}

.titulo {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  animation: animacionTitulo 2s ease-in-out infinite alternate;
}

.text {
  font-size: 1.3rem;
}

@keyframes animacionTitulo {
  0% {
    transform: scale(1);
    color: #000;
  }
  50% {
    transform: scale(1.1);
    color: #0080ff;
  }
  100% {
    transform: scale(1);
    color: #000;
  }
}

@keyframes animacionTexto {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text {
  animation: animacionTexto 1s ease-in-out;
}

@media (min-width:1800px){
  body{
   background-color: rgb(222, 195, 251) ;
   font-weight: bold;
  }
     
 }


@media (min-width:1920px){
  body{
   background-color:rgb(209, 168, 255) ;
   
  }
     
 }